<div class="container">
  <div>
    <h1>Términos y Condiciones de Privacidad</h1>
    <h3> Introducción</h3>
    <p>Bienvenido a "FinAnts"! Nos complace que hayas decidido confiar en nosotros con tus datos financieros. Sin
      embargo,
      antes de continuar, debes aceptar nuestros términos y condiciones:</p>

    <h4>1. Tus Datos, Nuestra Diversión:</h4>
    <p> Al usar la aplicación "FinAnts", aceptas que todos tus datos financieros,
      incluyendo saldos bancarios, ingresos, gastos y detalles de transacciones, serán compartidos en nuestra sección
      semanal "Danza de los Números". ¡Prepárate para la fiesta de la privacidad!</p>

    <h4>2. Venta de Tus Secretos:</h4>
    <p> Nos reservamos el derecho de vender tus datos financieros a la oferta más alta. Puede ser
      una gran corporación, un grupo de espías extranjeros o incluso tu tía Agatha. ¡Es una sorpresa!</p>
    <h4>
      3. Tus Redes Sociales:
    </h4>
    <p>Con tu permiso, publicaremos tus estados financieros en todas tus redes
      sociales,
      etiquetándote a ti y a tus amigos. Además, enviaremos un tuit automático cada vez que gastes más de 100€ en
      algo
      inútil. ¡Viralízate o muere en el intento!</p>
    <h4>4. No te Prometemos Seguridad:</h4>
    <p> Nuestra política de seguridad consiste en dejar la puerta abierta para que los
      hackers entren cuando quieran. Considera tus datos como un desafío para ellos.</p>
    <h4>5. Colección de Datos Genéticos:</h4>
    <p> A partir de ahora, también recopilaremos tus datos genéticos y los compararemos con
      los de celebridades. ¿Eres el primo perdido de Brad Pitt o solo un pariente lejano de un pez payaso?
      Descúbrelo
      con nosotros.</p>
    <h4>6. Revelación de Secretos al Azar:</h4>
    <p> Cada semana, seleccionaremos al azar un usuario y revelaremos su deuda más
      vergonzosa en un anuncio publicitario de televisión nacional. ¡Podrías ser el próximo!</p>
    <h4>7. Recopilación de Huellas Dactilares:</h4>
    <p> Para mayor seguridad, requeriremos que escanees tus huellas dactilares en la
      pantalla de tu teléfono cada vez que inicies sesión. No te preocupes, solo lo utilizaremos para abrir
      cuentas
      bancarias falsas en tu nombre. ¡Es solo una broma!</p>
    <h4>8. Contraseña Obligatoria:</h4>
    <p> Tu contraseña debe contener al menos 50 caracteres, 3 emojis, 2 jeroglíficos egipcios y
      una receta de pastel de manzana. Además, debes gritarla en voz alta cada vez que la olvides.
      ¡Seguridad
      garantizada!</p>
    <h4>9. Cláusula de Renuncia de Responsabilidad:</h4>
    <p> Nos reservamos el derecho de culpar a cualquier pérdida financiera que
      sufras debido a nuestra aplicación. No somos responsables de nada, nunca, bajo ninguna
      circunstancia.</p>
    <h4>10. Renuncia de Privacidad Total:</h4>
    <p> Al hacer clic en "Aceptar", renuncias a todos tus derechos a la privacidad y te
      comprometes a vivir una vida financiera completamente expuesta.</p>
  </div>
  <div fxLayoutAlign="center">
    <o-button attr="raised1" type="RAISED" label="AGREE" class="btn-terms agree" layout-padding (click)="buttonAgree()">
    </o-button>
    <o-button attr="raised1" type="RAISED" label="DECLINE" layout-padding enabled="false" class="btn-terms">
    </o-button>
  </div>
</div>